/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Reem+Kufi:wght@400;600&family=Tajawal:wght@300;400;500;700&family=ZCOOL+QingKe+HuangYou&display=swap');

/* Variables */
:root {
    /* fonts */
    --mainArFont: 'Tajawal', sans-serif;
    --mainEnFont: 'Reem Kufi', sans-serif; 
    --logoFont: 'ZCOOL QingKe HuangYou', cursive;
    --secondEngFont: 'Poiret One', cursive;

    /* colors */
    --white: #fff;
    --grayWhite: #eee;
    --black: #000;
    --grayBlack: #333;
    --navSkyBlue: #287bff;
}

/* ======================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    transition: background-color 0.5s;
}
.body.dark {
    background-color: var(--grayBlack);
}
/* ======================================= */

/* Navbar */
.navContainer {
    position: fixed;
    width: 20%;
    height: 100%;
    right: 0;
    background-color: var(--navSkyBlue);
    border-right: 10px solid var(--navSkyBlue);
    transition: 0.5s;
    overflow: hidden;
    z-index: 1000;
    transition: 0.5s;
}
.navContainer.dark {
    background-color: #222;
    border-right: 10px solid #222;
}
.navContent {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white);
    transition: 0.5s;
}
/* Logo Detailes */
.logoInfo {
    display: flex;
    width: 100%;
}
.logoImg {

}
.logoImg img {
    width: 4.6em;
    height: 4.6em;
    filter: drop-shadow(0 0 5px var(--grayBlack));
    cursor: pointer;
}
.logoTitle {
    display: flex;
    justify-content: center ;
    margin: 22px 0 0 30px;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    font-family: var(--secondEngFont) !important;
    font-size: 1.5em;
    letter-spacing: 2.5px;
    font-weight: bold;
    text-shadow: 0 0 5px var(--grayBlack);
    cursor: default;
}
/* Website Sections */
.ulContainer {
    width: 100%;
    transform: translateY(-250px);
    font-family: var(--mainArFont);
}
.ulContainer ul {
    position: absolute;
    width: 100%;
    padding: 0;
}
.ulContainer ul li {
    position: relative;
    width: 100%;
    height: 50px;
    list-style: none;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    transition: 0s;
}
.navContainer.dark .ulContainer ul li {
    transition: 0s;
}
.ulContainer ul li.clicked {
    background-color: var(--white);
    transition: 0s;
}
.navContainer.dark .ulContainer ul li.clicked {
    background-color: var(--grayBlack);
    transition: 0s;
}
.ulContainer ul li a {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
}
.ulContainer ul li.clicked a {
    color: var(--navSkyBlue);
    padding-right: 20px;
}
.navContainer.dark .ulContainer ul li.clicked a {
    color: var(--white);
}
.ulContainer ul li.clicked a::before {
    position: absolute;
    content: '';
    top: -50px;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: -35px 35px 0 10px var(--white);
    background-color: transparent;
    pointer-events: none;
    transition: 0s;
}
.ulContainer ul li.clicked a::after {
    position: absolute;
    content: '';
    bottom: -50px;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: -35px -35px 0 10px var(--white);
    background-color: transparent;
    pointer-events: none;
    transition: 0s;
}
.navContainer.dark .ulContainer ul li.clicked a::before {
    box-shadow: -35px 35px 0 10px var(--grayBlack);
    transition: 0s;
}
.navContainer.dark .ulContainer ul li.clicked a::after {
    box-shadow: -35px -35px 0 10px var(--grayBlack);
    transition: 0s;
}
.ulContainer ul li a .icon {
    position: relative;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
    filter: drop-shadow(0 0 5px rgba(3, 3, 3, 0.25));
    transition: 0.5s;
}
.ulContainer ul li a .fa-home {
    font-size: 1.9em;
}
.ulContainer ul li a .title {
    position: relative;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    text-align: start;
    white-space: nowrap;
    font-size: 1.4em;
    text-shadow: 0 0 5px rgba(3, 3, 3, 0.25);
    transition: 0.5s;
}
/* Dark Mood Controls */
.darkModeContainer {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    transform: translateX(10px);
}
.darkModeContainer div {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-size: 1.5em;
    filter: drop-shadow(0 0 5px rgba(3, 3, 3, 0.25));
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
}
.darkModeContainer .clicked {
    border: 1px solid rgba(255, 255, 255, 0.75);
}
/* ======================================= */

/* Main Content */
.mainContainer {
    position: relative;
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}
/* Top Bar */
.topBar {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    display: flex;
    transition: 0.5s;
}
.mainContainer .topBar .forDesktopLight img {
    display: block;
    width: 9em;
    height: 9em;
    transform: translateY(-35px);
}
.mainContainer.dark .topBar .forDesktopLight img {
    display: none;
}
.mainContainer .topBar .forDesktopDark img {
    display: none;
}
.mainContainer.dark .topBar .forDesktopDark img {
    display: block;
    width: 9em;
    height: 9em;
    transform: translateY(-35px);
}
.topBar .forMobile {
    display: none;
}
.topBar .search {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .searchContainer {
    position: relative;
}
.topBar .search input {
    width: 30em;
    height: 35px;
    margin: 5px 0 0 50px;
    transform: translateX(-50%);
    border-radius: 30px;
    outline: none;
    border: 1px solid rgba(3, 3, 3, 0.25);
    text-align: center;
}
.topBar .search input::placeholder {
    text-align: center;
    letter-spacing: 2.5px;
    font-size: 1.25em;
    font-family: var(--secondEngFont);
}
.topBar .search i {
    position: absolute;
    top: 14px;
    left: -185px;
    width: 20px;
    height: 20px;
    z-index: 1;
    opacity: 0.5;
}
.menuMobile {
    display: none;
}
.menuMobile.activate{
    display: none;
}