/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Reem+Kufi:wght@400;600&family=Tajawal:wght@300;400;500;700&family=ZCOOL+QingKe+HuangYou&display=swap');

/* Variables */
:root {
    /* fonts */
    --mainArFont: 'Tajawal', sans-serif;
    --mainEnFont: 'Reem Kufi', sans-serif; 
    --logoFont: 'ZCOOL QingKe HuangYou', cursive;
    --secondEngFont: 'Poiret One', cursive;

    /* colors */
    --white: #fff;
    --grayWhite: #eee;
    --black: #000;
    --grayBlack: #333;
    --navSkyBlue: #287bff;
}

/* ======================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: var(--grayWhite);
    transition: background-color 0.5s;
}
.body.dark {
    background-color: var(--grayBlack);
}
/* ======================================= */

/* Navbar */
.navContainer {
    position: fixed;
    width: 20%;
    height: 100%;
    right: 0;
    background-color: var(--navSkyBlue);
    border-right: 10px solid var(--navSkyBlue);
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    transition: 0.5s;
}
.navContainer.dark {
    background-color: #222;
    border-right: 10px solid #222;
}
.navContent {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white);
    transition: 0.5s;
}
/* Logo Detailes */
.logoInfo {
    display: flex;
    width: 100%;
}
.logoImg {
    margin: 10px 2.5% 0 0;
}
.logoImg img {
    width: 3em;
    height: 3em;
    filter: drop-shadow(0 0 5px var(--grayBlack));
    cursor: pointer;
}
.logoTitle {
    display: flex;
    justify-content: center ;
    margin: 22px 0 0 30px;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    font-family: var(--secondEngFont) !important;
    font-size: 1.25em;
    letter-spacing: 2.5px;
    font-weight: bold;
    text-shadow: 0 0 5px var(--grayBlack);
    cursor: default;
}
.navMobileMenu {
    display: none;
    width: 40px;
    height: 40px;
    margin: auto 10px;
    /* display: flex; */
    justify-content: space-evenly;
    flex-direction: column;
    cursor: pointer;
}
.navMobileMenu.activate{
    display: none;
}
.navMobileMenu span {
    width: 90%;
    height: 5px;
    margin: auto;
    border-radius: 5px;
}
/* Website Sections */
.ulContainer {
    width: 100%;
    font-family: var(--mainArFont);
}
.ulContainer ul {
    width: 100%;
    padding: 0;
}
.ulContainer ul li {
    position: relative;
    width: 100%;
    height: 50px;
    list-style: none;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    transition: 0s;
}
.navContainer.dark .ulContainer ul li {
    transition: 0s;
}
.ulContainer ul li.clicked {
    background-color: var(--grayWhite);
    transition: 0s;
}
.navContainer.dark .ulContainer ul li.clicked {
    background-color: var(--grayBlack);
    transition: 0s;
}
.ulContainer ul li a {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
}
.ulContainer ul li.clicked a {
    color: var(--navSkyBlue);
    padding-right: 20px;
}
.navContainer.dark .ulContainer ul li.clicked a {
    color: var(--white);
}
.ulContainer ul li.clicked a::before {
    position: absolute;
    content: '';
    top: -50px;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: -35px 35px 0 10px var(--grayWhite);
    background-color: transparent;
    pointer-events: none;
    transition: 0s;
    z-index: -1;
}
.ulContainer ul li.clicked a::after {
    position: absolute;
    content: '';
    bottom: -50px;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: -35px -35px 0 10px var(--grayWhite);
    background-color: transparent;
    pointer-events: none;
    transition: 0s;
    z-index: -1;
}
.navContainer.dark .ulContainer ul li.clicked a::before {
    box-shadow: -35px 35px 0 10px var(--grayBlack);
    transition: 0s;
    z-index: -1;
}
.navContainer.dark .ulContainer ul li.clicked a::after {
    box-shadow: -35px -35px 0 10px var(--grayBlack);
    transition: 0s;
    z-index: -1;
}
.ulContainer ul li a .icon {
    position: relative;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
    filter: drop-shadow(0 0 5px rgba(3, 3, 3, 0.25));
    transition: 0.5s;
}
.ulContainer ul li a .fa-home {
    font-size: 1.9em;
}
.ulContainer ul li a .title {
    position: relative;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    text-align: start;
    white-space: nowrap;
    font-size: 1.4em;
    text-shadow: 0 0 5px rgba(3, 3, 3, 0.25);
    transition: 0.5s;
}
/* Dark Mood Controls */
.darkModeContainer {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    transform: translateX(10px);
}
.darkModeContainer div {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-size: 1.5em;
    filter: drop-shadow(0 0 5px rgba(3, 3, 3, 0.25));
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
}
.darkModeContainer .clicked {
    border: 1px solid rgba(255, 255, 255, 0.75);
}
/* ======================================= */

/* Main Content */
.mainContainer {
    position: relative;
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}
/* Top Bar */
.topBar {
    position: fixed;
    width: 80%;
    height: 4em;
    top: 0;
    display: flex;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}
.mainContainer .topBar {
    background-color: var(--grayWhite);
}
.mainContainer.dark .topBar {
    background-color: var(--grayBlack);
}
.mainContainer .topBar.activate {
    box-shadow: none;
}
.mainContainer .forLightDesktop {
    display: block;
}
.mainContainer.dark .forLightDesktop {
    display: none;
}
.mainContainer .forDarkDesktop {
    display: none;
}
.mainContainer.dark .forDarkDesktop {
    display: block;
}
.mainContainer .topBar .logo img {
    width: 6.5em;
    height: 3.25em;
    margin: 5px 0 0 10px;
    filter: drop-shadow(0 0 2.5px rgba(3, 3, 3, 0.25));
}
.topBar .forLightMobile,
.topBar .forDarkMobile {
    display: none;
}
.topBar .search {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .searchContainer {
    position: relative;
}
.topBar .search input {
    width: 30em;
    height: 35px;
    border-radius: 30px;
    outline: none;
    border: 1px solid rgba(3, 3, 3, 0.25);
    text-align: center;
}
.topBar .search input::placeholder {
    text-align: center;
    letter-spacing: 2.5px;
    font-size: 1.25em;
    font-family: var(--secondEngFont);
}
.topBar .search i {
    position: absolute;
    top: 7.5px;
    left: 10px;
    width: 20px;
    height: 20px;
    z-index: 1;
    cursor: pointer;
    opacity: 0.5;
}
.topBar .search input[type='submit'] {
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
}
.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin: auto 10px;
    /* display: flex; */
    justify-content: space-evenly;
    flex-direction: column;
    cursor: pointer;
}
.menuMobile.activate{
    /* display: none; */
}
.menuMobile span {
    width: 90%;
    height: 5px;
    margin: auto;
    border-radius: 5px;
}
/* ======================================= */

/* Website Content */
/* Home */
.homePage,
.sectionsPage,
.lastNewsPage,
.contactPage {
    width: 100%;
    min-height: 100vh;
    padding-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--grayWhite); */
    transition: 0.5s;
}
.mainContainer.dark .homePage {
    /* background-color: var(--grayBlack); */
}
#particles-js {
    /* min-height: 100vh; */
}
.homeContent {
    position: relative;
    width: 75%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeContent div {
    display: none;
    position: absolute;
    height: 75%;
    background-color: #333;
    border-radius: 25px;
}
.homeContent .homeInfo {
    background-color: #ff0;
    width: 50%;
    height: 90%;
    left: 0;
    z-index: 1;
    opacity: 0.5;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
}
.homeContent .homeBackDesign {
    width: 75%;
    right: 0;
    background-color: rgba(238, 238, 238, 0.25);
}
.homeBackDesign div {
    width: 100%;
    height: 100%;
    background-color: rgba(238, 238, 238, 0.25);
}
.sectionsPage {
    min-height: 100vh;
}