@media only screen and (max-width: 480px){
        * {
    }
    html {
    }
    .body {
    }
    .body.dark {
    }
    .body::after {
    }
    .body.light::after {
        background: url('../media/backGroundMobile.png');
        background-size: cover;
    }
    .body.dark::after {
        background: url('../media/backGroundDarkMobile.png');
        background-size: cover;
    }
    .body.dark::after {
    }
        /* ======================================= */
        /* Navbar */
        .navContainer {
            width: 0;
            border: none !important;
            transition: 0.5s;
        }
        .navContainer.activate {
            width: 90%;
            border-right: 10px solid var(--navSkyBlue);
            transition: 0.5s;
        }
        .navContent {
            transition: 0.5s;
        }
        /* Logo Detailes */
        .logoInfo {
            flex-direction: row-reverse;
        }
        .logoImg {
            width: 75px;
            display: flex;
            justify-content: center;
        }
        .logoTitle {
            display: flex;
            align-items: center;
            margin: 0;
            letter-spacing: 5px;
        }
        .logoTitle p {
            margin: 0;
        }
        .navMobileMenu {
            display: none;
            width: 40px;
            height: 25px;
            margin: auto 10px;
            justify-content: space-evenly;
            flex-direction: column;
            cursor: pointer;
        }
        .navContainer.activate .navMobileMenu{
            display: flex;
        }
        .navMobileMenu span {
            width: 55%;
            height: 5px;
            margin: auto;
            border-radius: 5px;
            background-color: var(--white);
        }
        /* Website Sections */
        .ulContainer {
        }
        .ulContainer ul {
        }
        .ulContainer ul li {
        }
        .ulContainer ul li.clicked {
        }
        .ulContainer ul li a {
            display: flex;
            justify-content: flex-start;
            /* margin-right: 15%; */
        }
        .ulContainer ul li.clicked a {
        }
        .ulContainer ul li.clicked a::before {
            /* left: 51px; */
        }
        .ulContainer ul li.clicked a::after {
            /* left: 51px; */
        }
        .ulContainer ul li a .icon {
            margin: 0;
        }
        .ulContainer ul li a .fa-file-text {
            transform: translateX(-5px);
        }
        .ulContainer ul li a .title {
            display: block;
        }
        /* Dark Mood Controls */
        .darkModeContainer {
            flex-direction: row;
        }
        .darkModeContainer div {
        }
        .darkModeContainer .light.clicked,
        .darkModeContainer .dark.clicked {
        }
        /* ======================================= */
        /* Main Content */
        .mainContainer {
            width: 100%;
        }
        .mainContainer.activate {
            transform: translateX(-100%);
            overflow-y: hidden;
        }
        /* Top Bar */
        .mainContainer .topBar {
            width: 100%;
            padding: 0 10px;
        }
        .topBar .logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .topBar.activate .logo {
            visibility: hidden;
        }
        .mainContainer .topBar .forLightDesktop,
        .mainContainer .topBar .forDarkDesktop {
            display: none;
        }
        .topBar .forLightMobile,
        .topBar .forDarkMobile {
            display: block;
        }
        .mainContainer .topBar .forLightMobile {
            display: block;
        }
        .mainContainer.dark .topBar .forLightMobile {
            display: none;
        }
        .mainContainer .topBar .forDarkMobile {
            display: none;
        }
        .mainContainer.dark .topBar .forDarkMobile {
            display: block;
        }
        .mainContainer .topBar .logo img {
            width: 2.5em;
            height: 2.5em;
            margin: 0;
        }
        .topBar .search {
            margin: 0;
        }
        .topBar.activate .search {
            visibility: hidden;
        }
        .search .searchContainer {
        }
        .topBar .search input {
            width: 15em;
        }
        .topBar .search input::placeholder {
        }
        .topBar .search i {
        }
        .menuMobile {
            display: flex;
            width: 25px;
            height: 25px;
        }
        .mainContainer .topBar .menuMobile span {
            background-color: var(--navSkyBlue);
        }
        .mainContainer .topBar.activate .menuMobile span {
            background-color: var(--white);
        }
        .mainContainer.dark .menuMobile span {
            background-color: var(--white);
        }
        .topBar.activate .menuMobile {
            display: none;
        }
        /* ======================================= */
        /* Home Page */
        .homePage,
    .sectionsPage,
    .lastNewsPage,
    .contactPage {
    }
    .mainContainer.dark .homePage {
    }
    #particles-js {
    }
    .homeContent {
        align-items: flex-start;
    }
    .homeContent div {
    }

    /* Home Info Section */
    .homeContent .homeInfo {
        width: 100%;
        height: 75%;
        justify-content: flex-start;
    }
    .homeInfo .homeLogoImg,
    .homeInfo .homeInfoTitle, 
    .homeInfo .homeBtns {
    }

    /* Logo */
    .mainContainer.light .homeInfo .light {
    }
    .mainContainer.light .homeInfo .dark {
    }
    .mainContainer.dark .homeInfo .light {
    }
    .mainContainer.dark .homeInfo .dark {
    }
    .homeInfo .homeLogoImg {
        height: 20%;
    }
    .homeInfo .homeLogoImg img {
        width: 55%;
    }

    /* Title */
    .homeInfo .homeInfoTitle {
    }
    .homeInfoTitle h6 {
        font-size: 1.75em;
    }
    .homeInfoTitle .Eng {
    }
    .mainContainer.light .homeInfoTitle .Eng {
    }
    .mainContainer.dark .homeInfoTitle .Eng {
    }
    .mainContainer.light .homeInfoTitle h6 {
    }
    .mainContainer.dark .homeInfoTitle h6 {
    }
    .mainContainer.light .homeInfoTitle h6 span {
    }
    .mainContainer.dark .homeInfoTitle h6 span {
    }
    .homeInfoTitle p {
        font-size: 0.95em;
    }
    .mainContainer.light .homeInfoTitle p {
    }
    .mainContainer.dark .homeInfoTitle p {
    }

    /* Action Call Btns */
    .homeInfo .homeBtns {
        height: 15%;
        width: 100%;
    }
    .homeBtns div {
        font-size: 1em;
    }
    .homeBtns div:hover {
    }
    .homeBtns div a {
    }
    .homeBtns div:hover a {
    }

    /* Home Contact Section */
    .homeContact {
        width: 100%;
        bottom: 5%;
        z-index: 1;
    }
    .homeContact div {
    }
    .homeSocialCards {
    }
    .homeSocialCards div {
        border: 1px solid var(--grayWhite);
    }
    .homeSocialCards div:hover {
    }
    .homeSocialCards a {
    }
    .mainContainer.light .homeSocialCards a {
        color: var(--grayWhite);
    }
    .mainContainer.dark .homeSocialCards a {
    }
    .mainContainer.light .homeSocialCards div:hover a {
    }
    .homeSocialCards div:hover.instagram {
    }
    .homeSocialCards div:hover.telegram {
    }
    .homeSocialCards div:hover.twitter {
    }
    .twitter {
    }

    /* Home Background Section  */
    .homeContent .homeBackDesign {
        width: 85%;
        height: 85%;
    }
    .homeBackDesign .svgContainer {
        width: 80%;
        height: 45%;
    }
    .svgContainer img {
    }
    .homeContent .homeBackDesign img {
    }
    .mainContainer.light .svgContainer .light {
    }
    .mainContainer.light .svgContainer .dark {
    }
    .mainContainer.dark .svgContainer .light {
    }
    .mainContainer.dark .svgContainer .dark {
    }
    .sectionsPage {
    }
}