@media only screen and (max-width: 480px){
        * {
        }
        html {
        }
        body {
        }
        /* ======================================= */
        /* Navbar */
        .navContainer {
            width: 0;
            border: none !important;
            transition: 0.5s;
        }
        .navContainer.activate {
            width: 90%;
            border-right: 10px solid var(--navSkyBlue);
            transition: 0.5s;
        }
        .navContent {
            transition: 0.5s;
        }
        /* Logo Detailes */
        .logoInfo {
            flex-direction: row-reverse;
        }
        .logoImg {
            width: 75px;
            display: flex;
            justify-content: center;
        }
        .logoTitle {
            display: block;
            margin: auto 13% auto 0;
            letter-spacing: 5px;
        }
        .logoTitle p {
            margin: 0;
        }
        /* Website Sections */
        .ulContainer {
        }
        .ulContainer ul {
        }
        .ulContainer ul li {
        }
        .ulContainer ul li.clicked {
        }
        .ulContainer ul li a {
            display: flex;
            justify-content: flex-start;
            /* margin-right: 15%; */
        }
        .ulContainer ul li.clicked a {
        }
        .ulContainer ul li.clicked a::before {
            /* left: 51px; */
        }
        .ulContainer ul li.clicked a::after {
            /* left: 51px; */
        }
        .ulContainer ul li a .icon {
            margin: 0;
        }
        .ulContainer ul li a .fa-file-text {
            transform: translateX(-5px);
        }
        .ulContainer ul li a .title {
            display: block;
        }
        /* Dark Mood Controls */
        .darkModeContainer {
            flex-direction: row;
        }
        .darkModeContainer div {
        }
        .darkModeContainer .light.clicked,
        .darkModeContainer .dark.clicked {
        }
        /* ======================================= */
        /* Main Content */
        .mainContainer {
            width: 100%;
        }
        .mainContainer.activate {
            transform: translateX(-100%);
        }
        /* Top Bar */
        .topBar {
            width: 100%;
            padding: 0 10px;
        }
        .topBar.activate {
            transform: translateX(100%);
            z-index: 2;
            background-color: transparent;
            height: 3em;
        }
        .topBar .logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .topBar.activate .logo {
            visibility: hidden;
        }
        .topBar .forDesktopLight,
        .topBar .forDesktopDark {
            display: none;
        }
        .topBar .forMobileLight img,
        .topBar .forMobileDark img {
            display: block;
        }
        .mainContainer .topBar .forMobileLight {
            display: none;
        }
        .mainContainer.dark .topBar .forMobileLight {
            display: none;
        }
        .mainContainer .topBar .forMobileDark {
            display: block;
        }
        .mainContainer.dark .topBar .forMobileDark {
            display: block;
        }
        .topBar .logo img {
            width: 2.5em;
            height: 2.5em;
        }
        .topBar .search {
            margin: 0;
        }
        .topBar.activate .search {
            visibility: hidden;
        }
        .search .searchContainer {
        }
        .topBar .search input {
            width: 15em;
        }
        .topBar .search input::placeholder {
        }
        .topBar .search i {
        }
        .menuMobile {
            width: 25px;
            height: 25px;
        }
        .mainContainer.dark .menuMobile i {
            color: var(--white);
        }
        .topBar.activate .menuMobile {
            transform: translate(20%, 25%);
        }
        /* ======================================= */
        /* Home Page */
        .homePage {
            flex-direction: column-reverse;
        }
        .homeTitle {
            width: 100%;
        }
        .homeTitle h1 {
            font-size: 4em;
        }
        .homeTitle p {
            text-align: center;
            font-size: 1.75em;
        }
        .homeImg {
            width: 100%;
        }
}