.subject {
    width: 100%;
    height: 100%;
    padding: 0 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}
.subject .subjectInfo {
    position: absolute;
    top: 5%;
    right: 0;
    display: flex;
}
.subject .subjectInfo p {
    margin: 0 15px;
    font-family: var(--mainArFont);
}
.subject .subjectContent {
    text-align: center;
    font-family: var(--mainArFont);
    overflow-y: scroll; 
}
.mainContainer.dark .subject {
    color: var(--grayWhite);
}
.subject::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
}
.subject .subjectContent::-webkit-scrollbar {
    background-color: transparent;
    width: 7.5px;
    border-radius: 5px;
}
.subject .subjectContent::-webkit-scrollbar-thumb {
    border-radius: 25px;
}
.mainContainer.light .subject .subjectContent::-webkit-scrollbar-thumb {
    background-color: var(--navSkyBlue);
}
.mainContainer.dark .subject .subjectContent::-webkit-scrollbar-thumb {
    background-color: var(--grayBlack);
}

.googleAdenses,
.usageAgreement {
    width: 85%;
    margin: 0 auto;
    padding-top: 75px;
    display: flex;
    align-items: flex-start;
}
.googleAdensesContent,
.usageAgreementContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(20px);
}